<html>
    <head><title>Hello Students</title></head>
    
    <body>
        <h1>Hello Students</h1>
        <table id="studentsId">
            <thead>
                <tr><th>First Name</th><th>Last Name</th></tr>
            </thead>
            <tr v-for="row in rows">
                <td>{{row.fname}}</td>
                <td>{{row.lname}}</td>
            </tr>
        </table>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"></script>
        <script type="text/javascript">
            var studentvue = new Vue({
                el:'#studentsId',
                data:{
                    rows:[]
                },
                mounted: function(){
                    axios.get('http://localhost:8080/students').then (res => {this.rows = res.data;});
                }
            })
        </script>

    </body>
</html>